{% extends 'base.html.twig' %}

{% block body %}
    <div class="container section-contact">
        <div class="col-12">
            <h2 class="text-effect-3d">Contact</h2>
        </div>

        <div class="row box-blue">
            <div class="col-12 mb-3">
                {% include 'flashes.html.twig' %}
                <p>
                    Do you have questions, suggestions or criticism?<br />
                    Write me a message!
                </p>
            </div>
            <div class="col-12">
                <form action="{{ path('contact_send') }}" name="contact" method="post">
                    <div class="form-group">
                        <label for="name">Name *</label>
                        <input type="text" name="name" id="name" class="form-control" value="{{ name }}" required>
                    </div>
                    <div class="form-group">
                        <label for="email">E-Mail *</label>
                        <input type="email" name="email" id="email" class="form-control" value="{{ email }}" required>
                    </div>
                    <div class="form-group">
                        <label for="message">Message *</label>
                        <textarea name="message" id="message" class="form-control" value="{{ message }}" rows="8" required></textarea>
                    </div>
                    <div class="form-group centered">
                        <p><small class="text-muted">* Required</small></p>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
