{% extends 'base.html.twig' %}

{% block body %}
    <div class="container section-legalnotice">
        <div class="row">
            <div class="col-12">
                <h2>Legal notice</h2>
                <hr>
                <p>This is the legal notice page. Not so ... awesome.<br />But surely it makes other people happier!</p>
            </div>
            <div class="col-12">
                <h3>Fonts & Images</h3>
                <hr>
                <p>
                    ...are <a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank">Public Domain Dedication (CC0)</a>.<br />
                    Wow, how cool is that?!
                </p>
            </div>
        </div>
    </div>
{% endblock %}
