{% extends 'base.html.twig' %}

{% block body %}
    <div class="container section-similiar-sites">
        <div class="row">
            <div class="col-12">
                <h3>Similar sites</h3>
                <hr>
                <p>These are similar pages.</p>

                <div class="row examples">
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                        {# @todo Add style #}
                        <a href="https://lorempixel.com" target="_blank">
                            <div class="card">
                                <img class="card-img-top" src="/images/similiar-sites/lorempixel.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Lorem Pixel</h5>
                                    <p class="card-text">Lorem Pixel</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                        <a href="https://placeholder.com/" target="_blank">
                            <div class="card">
                                <img class="card-img-top" src="/images/similiar-sites/placeholder-com.jpg" alt="placeholder.com">
                                <div class="card-body">
                                    <h5 class="card-title">Placeholder.com</h5>
                                    <p class="card-text">Placeholder.com</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                        <a href="https://placeimg.com/" target="_blank">
                            <div class="card">
                                <img class="card-img-top" src="/images/similiar-sites/placeimg.jpg" alt="PlaceIMG">
                                <div class="card-body">
                                    <h5 class="card-title">PlaceIMG</h5>
                                    <p class="card-text">PlaceIMG</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                        <a href="https://placekitten.com" target="_blank">
                            <div class="card">
                                <img class="card-img-top" src="/images/similiar-sites/placekitten.jpg" alt="placekitten">
                                <div class="card-body">
                                    <h5 class="card-title">placekitten</h5>
                                    <p class="card-text">placekitten</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                        <a href="http://fpoimg.com/" target="_blank">
                            <div class="card">
                                <img class="card-img-top" src="/images/similiar-sites/fpoimg.jpg" alt="FPOImg.com">
                                <div class="card-body">
                                    <h5 class="card-title">FPOImg.com</h5>
                                    <p class="card-text">FPOImg.com</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                        <a href="https://fakeimg.pl/" target="_blank">
                            <div class="card">
                                <img class="card-img-top" src="/images/similiar-sites/fakeimg-pl.jpg" alt="Fake images please?">
                                <div class="card-body">
                                    <h5 class="card-title">Fake images please?</h5>
                                    <p class="card-text">Fake images please?</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                        <a href="http://placeholder.pics" target="_blank">
                            <div class="card">
                                <img class="card-img-top" src="/images/similiar-sites/placeholder-pics.svg" alt="Placeholder pics">
                                <div class="card-body">
                                    <h5 class="card-title">Placeholder pics</h5>
                                    <p class="card-text">Placeholder pics</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
