{% extends 'base.html.twig' %}

{% block body %}
    <div class="container section-similiar-sites">
        <div class="row">
            <div class="col-12">
                <h3>Similar sites</h3>
                <hr>
                <p>These are similar pages.</p>

                <div class="row examples">
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-3 d-flex align-items-stretch">
                        <div class="card flex-fill">
                            <a href="https://lorempixel.com" target="_blank" class="card-linked">
                                <img class="card-img-top" src="/images/similiar-sites/lorempixel.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Lorem Pixel</h5>
                                    <p class="card-text">Image (color, gray) with catgories and left text.</p>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 mb-3 d-flex align-items-stretch">
                        <div class="card flex-fill">
                            <a href="https://placeholder.com/" target="_blank" class="card-linked">
                                <img class="card-img-top" src="/images/similiar-sites/placeholder-com.jpg" alt="placeholder.com">
                                <div class="card-body">
                                    <h5 class="card-title">Placeholder.com</h5>
                                    <p class="card-text">Text-Image with colors and centered text.</p>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 mb-3 d-flex align-items-stretch">
                        <div class="card flex-fill">
                            <a href="https://placeimg.com/" target="_blank" class="card-linked">
                                <img class="card-img-top" src="/images/similiar-sites/placeimg.jpg" alt="PlaceIMG">
                                <div class="card-body">
                                    <h5 class="card-title">PlaceIMG</h5>
                                    <p class="card-text">Image (color, grayscale, sepia) with catgories.</p>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 mb-3 d-flex align-items-stretch">
                        <div class="card flex-fill">
                            <a href="https://placekitten.com" target="_blank" class="card-linked">
                                <img class="card-img-top" src="/images/similiar-sites/placekitten.jpg" alt="placekitten">
                                <div class="card-body">
                                    <h5 class="card-title">placekitten</h5>
                                    <p class="card-text">Image with a cat.</p>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 mb-3 d-flex align-items-stretch">
                        <div class="card flex-fill">
                            <a href="http://fpoimg.com/" target="_blank" class="card-linked">
                                <img class="card-img-top" src="/images/similiar-sites/fpoimg.jpg" alt="FPOImg.com">
                                <div class="card-body">
                                    <h5 class="card-title">FPOImg.com</h5>
                                    <p class="card-text">Text-Image, centered dimensions and optional text.</p>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 mb-3 d-flex align-items-stretch">
                        <div class="card flex-fill">
                            <a href="https://fakeimg.pl/" target="_blank" class="card-linked">
                                <img class="card-img-top" src="/images/similiar-sites/fakeimg-pl.jpg" alt="Fake images please?">
                                <div class="card-body">
                                    <h5 class="card-title">Fake images please?</h5>
                                    <p class="card-text">Text-Image with colors and centered text.</p>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 mb-3 d-flex align-items-stretch">
                        <div class="card flex-fill">
                            <a href="http://placeholder.pics" target="_blank" class="card-linked">
                                <img class="card-img-top" src="/images/similiar-sites/placeholder-pics.svg" alt="Placeholder pics">
                                <div class="card-body">
                                    <h5 class="card-title">Placeholder pics</h5>
                                    <p class="card-text">SVG with colors, gradient and centered text.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
