html {
    height: 100%;
    /*box-sizing: border-box;*/
}
.page {
    min-height: calc(100vh - 56px - 56px);
}

/**,
*:before,
*:after {
    box-sizing: inherit;
}*/

body {
     position: relative;
     margin: 0;
     padding-top: 56px;
     padding-bottom: 56px;
     min-height: 100%;
     font-family: 'Open Sans', sans-serif;
     background: #A0DDFE;
 }

.page {
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;

}

nav.bg-dark {
    background-color: #00293A !important;
    border-bottom: 2px solid #0099CC !important;
}
footer.bg-dark {
    background-color: #00293A !important;
    border-top: 2px solid #0099CC !important;
    color: rgba(255,255,255,.75) !important;
}
footer.bg-dark a {
    color: #0099CC;
}

nav form {
    margin-bottom: 0;
}
nav ul li a {
    outline: none;
    @include user-select(none);
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    color: #FFFFFF;
    background-color: #efefef;
    text-align: center;
}

/* Move anker links */
.anker {
    position: relative;
    top: -60px;
}

/* Box */
.box-blue {
    margin: 0 auto 30px;
    padding: 20px;
    background-color: #FFFFFF;
    border: 2px solid #0099CC;
}


// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
    nav {
        .scrollable-menu {
            height: auto;
            max-height: calc(100vh - 56px);
            overflow-x: hidden;
        }
    }
}

nav,
.nav {
    .dropdown-toggle {
        position: relative;

        &::after {
            position: absolute;
            top: 18px;
            right: 18px;
        }
    }

    .navbar-brand {
        img {
            width: 27px;
            height: 30px;
        }
    }

    .avatar a {
        &, &:hover, &:link, &:active {
            color: #ffffff;
            text-decoration: none;
            outline: none;
        }
    }
}

/* Navigation - Icons */
.navbar-nav,
.nav {
    a {
        outline: none;
    }

    .fa, .fas, .far, .fab, .fal {
        min-width: 22px;
        text-align: center;
    }
}

footer .nav .nav-item {
    line-height: 0.5;

    &:not(:first-child) {
        border-left: 1px solid rgba(255, 255, 255, 0.25);
    }
}
@include media-breakpoint-down(xs) {
    footer .nav .nav-item {
        &:not(:first-child) {
            border-left: none;
        }
    }
}

/* Collapse toggler */
.collapse-toggle .dropdown-toggle::after {
    transition: transform 400ms ease;
    transform: rotate(-180deg) !important;
}
.collapse-toggle .dropdown-toggle.collapsed::after {
    transition: transform 400ms ease;
    transform: rotate(0deg) !important;
}

/* Radio-Toolbar */
.radio-toolbar label {
    display: inline-block;
    margin: 4px;
    padding: 8px 11px;
    width: 150px;

    font-size: 16px;
    color: #fff;
    background-color: #548BCC;
    border-radius: 3px;

    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio-toolbar input[type="radio"] {
    display:none;
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color: #183869;
}
