{% extends 'base.html.twig' %}

{% block title %}404 Page not found - Placeholder{% endblock %}

{% block body %}
    <div class="box-blue text-center">
        <h3>Page not found</h3>
        <hr>
        <p>
            The site was not found.<br>
            You may have mistyped or the page is gone.<br>
            Try it with the <a href="{{ path('root') }}" class="btn btn-outline-dark btn-sm">home page</a> .
        </p>
    </div>
{% endblock %}
