{% extends 'base.html.twig' %}

{% block title %}500 Unknown error - Placeholder{% endblock %}

{% block body %}
    <div class="box-blue text-center">
        <h3>Unknown error</h3>
        <hr>
        <p>
            An unknown error has occurred.<br>
            Try it with the <a href="{{ path('root') }}" class="btn btn-outline-dark btn-sm">home page</a> .
        </p>
    </div>
{% endblock %}
